@import "utils/constants/index.css";

button {
  padding: 0;
}

#header-outer {
  position: fixed;
  top: 0;
  left: var(--sidebarWidth);
  width: calc(100% - var(--sidebarWidth));
  height: var(--headerHeight);
  z-index: 100;
}

#header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--headerHeight) - 2px);
  padding: 12px 80px 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#divider {
  position: absolute;
  top: calc(var(--headerHeight) - 2px);
  left: 0px;
  width: 100%;
  height: 2px;
}

#left-header {
  height: 36px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

#right-header {
  height: 36px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

#search-form {
  width: 300px;
  height: 28px;
}

#search-box {
  background-color: transparent;
  color: grey;
  width: 100%;
  height: 100%;
  padding: 2px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}

#search-box:focus {
  border: 2px solid grey;
}

#circle-btn {
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 50%;
  display: inline-block;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
