@import "utils/constants/index.css";

* {
  font-family: "Roboto", sans-serif;
}

img {
  user-select: none;
  -moz-user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-drag: none;
  -o-user-drag: none;
}

button {
  cursor: pointer !important;
}

/* .btn-primary,
.btn-primary:hover,
.btn-outline-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: var(--mainColor) !important;
  border-color: var(--mainColor) !important;
  color: white !important;
}

.btn-outline-primary,
.btn-outline-primary:visited,
.btn-outline-primary:active {
  border-color: var(--mainColor) !important;
  color: var(--mainColor) !important;
}

textarea,
textarea:hover,
textarea:active,
textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
} */
